.contact-us-wrapper {
  height: 700px;
  background-color: rgb(0, 0, 255);
}
.contact-us-wrapper .contact {
  padding-top: 100px;
}
.contact-us-wrapper .contact h1 {
  color: #fff;
  text-align: center;
}
.contact-us-wrapper .contact h1:hover {
  color: rgb(32, 218, 141);
  cursor: pointer;
}
.contact-us-wrapper .contact-form {
  width: 70%;
  margin: auto;
}
.contact-us-wrapper .contact-form textarea {
  width: 100%;
  height: 150px !important;
}
.contact-us-wrapper .divider {
  height: 8px;
  margin-top: 10px !important;
  width: 150px;
  margin: auto;
  border-radius: 5px;
  background-color: rgb(32, 218, 141);
}
.contact-us-wrapper input[type="text"],
.contact-us-wrapper input[type="email"],
.contact-us-wrapper select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.contact-us-wrapper input[type="submit"] {
  width: 100%;
  background-color: #333f50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact-us-wrapper input[type="submit"]:hover {
  background-color: #45a049;
}
.contact-us-wrapper .form {
  padding: 20px;
  margin: 20px auto;
  border-radius: 5px;
  background-color: #f2f2f2;
  border: 6px solid #333f50;
}
.contact-us-wrapper form input[type="text"]:focus,
.contact-us-wrapper form input[type="email"]:focus,
.contact-us-wrapper form select:focus {
  box-shadow: 0 0 5px #43d1af;
}
