.nav-wrapper{
    background-color: #333f50;
    height:100px;
}
.nav-wrapper .nav-area{
    width: 80%;
    margin: auto auto;
    display: flex;

}
.nav-wrapper .nav-area div{
    width: 50%;
}
.nav-wrapper .menu-area a{
    width: 100px;
    margin-top: 35px;
    background-color: #5b9bd5;
    cursor:pointer;
    border-radius: 5px;
    font-size: 0.9rem;
    padding: 6px 12px;
    color: #fff;
    text-decoration: none;
    text-transform:uppercase;
    text-align: center;
}
.nav-wrapper .nav-area .menu-area a{
    float: right;
}
.nav-wrapper .nav-area a:hover{
    color: blue;
    background-color:white;
}
.nav-wrapper .dashboard-link{
    margin-left: 10px;
}